#test2{
    height: 4000px;
    background: #ddfded;
}
#hTitle ul li{
    color:grey;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    margin-left:16px;
}
#hTitle a{
    color:grey;
}
#hTitle li i{
    font-size: 13px;
    color: #d90714;
}
#hTitle a:hover{
    color:red;
}
#hTitle ul li.left a{
    margin-left: 20px;
}
/*搜素框*/
#mySearch{
    position: relative;
    margin:30px auto 15px;
    height: 80px;
    width:800px;
}
#topSearch{
    height:40px;
    width:600px;
    margin:35px auto 10px;
    border:1px solid red;
    background: #d6040d;
}

#topSearch input{
    height: 38px;
    width: 450px;
    border:1px solid red;
    padding-left: 8px;
    font-size: 14px;
    display: inline-block;
}
#topSearch .con{
    color:white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    padding-left:45px;
}
#topSearch input{
    color:grey;
}

#mySearch img{
    position: absolute;
    left:-40px;
    bottom:-70px;
}
#topList{
    width:550px;
    height: 30px;
    margin: 10px 100px 10px;
    color: grey;
}
#topList li{
    display: inline-block;
    font-size: 14px;
    margin-right: 8px;

}
#topList li a{
    color: grey;

}
#topList li b{
    display: inline-block;
    height: 16px;
    width: 1px;
    border-right: 1px solid grey;
    margin-bottom: -2px;
    margin-left:8px;
}
/*轮播图*/
#banner{
    width: 1000px;
    height: 400px;
    position:absolute;
    left: 0;
    top:36px;
}
#banner .boxInner .little_banner{
    margin-left: 210px;
}
#banner .boxInner .big_banner{
    margin-left: 0;
    height: 400px;
}
#banner .boxInner div{
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
#banner  ul{
    position: absolute;
    right:350px;
    bottom:0;
    z-index: 10;
    margin-bottom: -55px;
}
#banner  ul li{
    width: 19px;
    height:19px;
    border-radius: 50%;
    background: #000;
    float: left;
    margin-left: 10px;
    opacity: 0.3;
    cursor: pointer;
}
/*轮播图焦点的双层效果*/
#banner ul li.on{
    background: white;
    width:16px;
    height:16px;
    border: 2px solid #000;
}
#topTitle{
    position: fixed;
    top:0;
    left:0;
    height: 48px;
    width: 100%;
    background: red;
    display: none;
    opacity: 0.8;
    z-index: 200;
}
#fixed .top .logo{
    position: absolute;
    left:60px;
    top:4px;
    height: 40px;
    width:150px;
    line-height: 40px;
    display:inline-block;
    color:white;
    text-align: center;
    font-size: 40px;
}

#fixed .top .search{
    position: absolute;
    left:280px;
    top:8px;
    display: inline-block;
    background: #d6040d;
    width:600px;
    height: 32px;
}
#fixed .top .search input{
    height: 32px;
    width:500px;
    border: none;
    padding-left:8px;
}
#fixed .top .search b{
    color:white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    padding-left:20px;
}
#fixed .right{
    position: fixed;
    right: 0;
    top:0;
    height:100%;
    width: 40px;
    background: black;
    opacity: 0.9;
    z-index: 300;
    display: block;
}
/*右边栏的鼠标划过显示还没做*/
#fixed .right:hover{
  /*  display: none;*/
}

#fixed .right .imgicon{
    position: absolute;
    width:40px;
    height: 40px;
    color:white;
    text-align: center;
}
#fixed .right .money{
    top:270px;
    right:0;
}
#fixed .right .heart{
    top:300px;
    right:0;
}

#fixed .carbox .icon{
    color:red;
}
#fixed .carbox{
    position: fixed;
    top:150px;
    right:0;
    width:40px;
    height: 105px;
    background: black;
    z-index: 3000000;
}

#fixed .carbox .car{
    color:white;
    width:20px;
    padding-top:8px;

    padding-left:12px;
    padding-right:4px;
    height: 105px;
    line-height: 20px;
}
#toTop {
    position: fixed;
    bottom: 0;
    right: 0;
    width:40px;
    height: 40px;
    line-height: 40px;
    background: black;
    color: white;
    z-index: 10000;
    text-align: center;
    display: none;
}
div.test{
    height: 300px;
}

#box{
    /*margin-right: 40px;*/
}
#first{
    position: relative;
    background: lightblue;
    height: 516px;
    width: 100%;
    overflow: hidden;
}
#middle{
    position: relative;
}
#gifimg{
    position: absolute;
    left:-30px;
    top:-130px;
}
#first .title{
    position: relative;
    height: 36px;
    width: 100%;
    background: red;
}
#first .title ul{
    position: absolute;
    width:900px;
    height:36px;
    left:200px;
    top:8px;
    margin-left:15px;
    font-size: 18px;
    font-weight: bold;
    color:white;
}
#first .title ul li{
    display:inline-block;
    margin-left: 20px;
}
#first .title ul li a{
    color:white;
}
#first .cover{
    position: absolute;
    width:200px;
    height:36px;
    left:10px;
    top:0;
    background: grey;
    opacity: 0.3;
}
#first .tit i.menuIcon{
    margin-right: 4px;
}
#first .tit {
    position: absolute;
    width:100px;
    height:36px;
    left:10px;
    top:8px;
    margin-left:15px;
    font-size: 18px;
    font-weight: bold;
    color:white;
}
#list .cover{
    position:absolute;
    left:10px;
    top:36px;
    background: #fef5ee;
    opacity: 0.7;
    width: 200px;
    height: 480px;
}
#list .menu{
    position:absolute;
    left:10px;
    top:36px;
    width: 200px;
    background: #fef5ee;
    opacity: 0.9;

    z-index: 2;
}
#list .menu li {
    font-family: ".SF NS Text";
    position: relative;
    height:30px;
    width:200px;
    line-height: 30px;
    font-size: 15px;
    padding-left:15px;
}
#list .menu li a{
    margin-right:4px;
    display:inline-block;
}
/*整行变色的效果要用js写事件委托？*/
#list .menu li:hover{
    background:white;
    color:red;
}
/*隐藏菜单部分*/
#list .hideMenu{
    position:absolute;
    top:36px;
    left:204px;
    height: 480px;
    width:810px;
    background:white;
    z-index: 100;
    display: none;
}
#list .hideMenu .line{
    clear:both;
}
#list .hideMenu .contentTit{
    float:left;
    font-size: 16px;
    font-weight: bold;
    height:20px;
    width:100px;
    color: black;
    margin-top:20px;
    margin-left:25px;
}
#list .hideMenu .content{
    float:left;
    width:350px;
    margin-top:20px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial;
}
#list .hideMenu .content a{
    color:#686868;
}
#list .hideMenu div .contentTit span{
    font-size: 14px;
    font-weight: normal;
}
#list hr{
    height: 10px;
    width:350px;
    border-bottom:#cccccc 1px dashed ;
    margin-top:8px;
}







